<template>
  <div>
    <v-alert outlined type="error" dismissible>
      {{message}}<br>
    </v-alert>
  </div>
</template>

<script>
export default {
  name: 'AlertError',
  props: ['message'],
};
</script>
