<template>
  <v-container class='Family text-center'>
    <v-btn
      class="my-4"
      v-if="user"
      @click="displayForm = !displayForm"
      color="accent">
      <v-icon left>mdi-plus</v-icon>
      Créer une nouvelle Famille
    </v-btn>

    <v-row justify="center" class="mb-4">
      <v-col cols="10" mb="6">
        <v-form @submit.prevent='submit'>
          <v-card v-if="displayForm">
            <v-card-title>Nouvelle Famille</v-card-title>
            <v-card-text>
              <v-text-field
                label="nom de la famille"
                v-model="familyName">
              </v-text-field>
            </v-card-text>
            <v-card-actions class="justify-end">
              <v-btn
                class="text-right"
                color="accent"
                @click="submit">
                valider
              </v-btn>
              <v-btn
                class="text-right"
                @click="displayForm = !displayForm">
                annuler
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-form>
      </v-col>
    </v-row>

    <div v-if='family'>
    </div>
    <div v-else>
      <h3>Vous n'avez pas encore de famille. Créez en une !</h3>
    </div>
  </v-container>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Family',

  data: () => ({
    user: null,
    family: null,
    displayForm: false,
    familyName: '',
  }),

  methods: {
    checkFamily() {
      // eslint-disable-next-line
      console.log('family checked');
    },
    submit() {
      const payload = {
        familyName: this.familyName,
        userID: this.user.uid,
      };
      // Gerer family name deja pris ou vide
      this.addFamily(payload);
    },
    addFamily(payload) {
      const path = '/api/auth/add-family';
      axios.post(path, payload, { 'Content-Type': 'application/json' })
        .then((response) => {
          // eslint-disable-next-line
          this.message = response.data.message;
          this.show = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          this.showError = true;
          this.message = error.message;
        });
    },
  },
};
</script>
