<template>
  <v-container>
    <alert :message='message' v-if='showMessage'></alert>
    <v-card>
      <v-card-title>Nouvelle Recette</v-card-title>
      <v-form enctype="multipart/form-data">
        <v-container>
          <v-row>
            <v-col cols="12" md="6">
              <v-text-field
                solo-inverted
                v-model="addRecipeForm.name"
                label="Nom"
                required>
              </v-text-field>
            </v-col>
            <v-col cols="12" md="6">
              <v-file-input
                v-model="image"
                accept="image/png, image/jpeg, image/bmp"
                @change="previewImage"
                prepend-icon="mdi-camera">
              </v-file-input>
              <v-img :src="url" v-if="image" height="300"></v-img>
            </v-col>
            <v-col cols="12" md="6" display="flex" align="center" justify="center">
              <v-card-title>Difficulté</v-card-title>
              <v-rating
                v-model="addRecipeForm.difficulty"
                background-color="primary"
                color="accent"
                length="5"
                value="3">
              </v-rating>
            </v-col>
            <v-col cols="12" md="6">
              <v-card-title>Temps de préparation</v-card-title>
              <v-row display="flex" align="center" justify="center">
                <v-col cols="3" lg="2">
                  <v-card>
                    <v-select
                      label="H"
                      :items="hours"
                      v-model="time.hours"
                      class="mx-4">
                    </v-select>
                  </v-card>
                </v-col>
                <v-col cols="1">
                  <span>:</span>
                </v-col>
                <v-col cols="3" lg="2">
                  <v-card>
                    <v-select
                      label="MIN"
                      :items="minutes"
                      v-model="time.minutes"
                      class="mx-4">
                    </v-select>
                  </v-card>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12">
              <v-card>
                <v-container>
                  <v-card-title>Ingrédients</v-card-title>
                  <v-row
                  v-for="(ingredient, counter) in ingredientList"
                  :key="'ingredient'+counter">
                    <v-col cols="12" sm="5">
                      <v-text-field
                        color="accent"
                        v-model="ingredient.ingredient_name"
                        label="Nom">
                      </v-text-field>
                    </v-col>
                    <v-col cols="5" sm="3">
                      <v-text-field
                        solo
                        v-model="ingredient.ingredient_quantity"
                        label="Quantité"
                        type="number">
                      </v-text-field>
                    </v-col>
                    <v-col cols="6" sm="3">
                      <v-select
                        v-model="ingredient.ingredient_unity"
                        :items="items"
                        label="Unité">
                      </v-select>
                    </v-col>
                    <v-col cols="1">
                      <v-btn
                        v-if="counter>=1"
                        color=error
                        small
                        fab
                        @click="deleteIngredient(counter)">
                        <v-icon>mdi-trash-can</v-icon>
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-container>
                <v-fab-transition>
                  <v-btn
                    color=accent
                    small
                    dark
                    absolute
                    bottom
                    right
                    fab
                    @click="addIngredient"
                  >
                    <v-icon>mdi-plus</v-icon>
                  </v-btn>
                </v-fab-transition>
              </v-card>
            </v-col>
            <v-col cols="12">
              <v-card>
                <v-container>
                  <v-card-title>Étapes</v-card-title>
                  <v-row
                    v-for="(step, counter) in stepList"
                    :key="'step'+counter">
                    <v-col cols="11">
                      <v-textarea
                        outlined
                        auto-grow
                        v-model="step.step_text"
                        label="Étapes"
                        type="textarea">
                      </v-textarea>
                    </v-col>
                    <v-col cols="1">
                      <v-btn
                        v-if="counter>=1"
                        color=error
                        small
                        fab
                        @click="deleteStep(counter)">
                        <v-icon>mdi-trash-can</v-icon>
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-container>
                <v-fab-transition>
                  <v-btn
                    color=accent
                    small
                    dark
                    absolute
                    bottom
                    right
                    fab
                    @click="addStep">
                    <v-icon>mdi-plus</v-icon>
                  </v-btn>
                </v-fab-transition>
              </v-card>
            </v-col>
            <v-card-actions>
              <v-btn
                class="text-right"
                color="!valid"
                @click="onSubmit">
                Valider
              </v-btn>
              <v-btn
                class="text-right"
                color="warning"
                @click="onReset">
                Réinitialiser
              </v-btn>
            </v-card-actions>
          </v-row>
        </v-container>
      </v-form>
    </v-card>
  </v-container>
</template>

<script>
import axios from 'axios';
import AlertError from './AlertError.vue';

export default {
  name: 'RecipeForm',

  components: {
    alert: AlertError,
  },

  data: () => ({
    user: null,

    items: ['unité', 'g', 'mL', 'cL', 'cuillère à soupe', 'cuillère à café'],
    hours: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
    minutes: [0, 5, 10, 15, 25, 30, 35, 40, 45, 50, 55],
    imageIsSet: false,

    menu2: false,

    url: null,
    image: null,
    uploadedImage: null,

    form: '',
    ingredient_name: '',
    ingredient_quantity: '',
    ingredient_unity: '',
    group: '',
    Ingredient: '',
    input: '',
    step_text: '',
    Step: '',

    addRecipeForm: {
      name: '',
      ingredients: [],
      steps: [],
      difficulty: 3,
    },

    time: {
      minutes: null,
      hours: null,
    },

    message: '',
    showMessage: false,
    ingredientList: [
      {
        ingredient_name: '',
        ingredient_quantity: '',
        ingredient_unity: '',
      },
    ],
    stepList: [
      {
        step_text: '',
      },
    ],
  }),

  methods: {
    previewImage() {
      if (this.image) {
        this.url = URL.createObjectURL(this.image);
        this.createImage(this.image);
      }
    },
    addRecipe(payload) {
      const path = '/api/recipes';
      axios.post(path, payload, { 'Content-Type': 'application/json' })
        .then((response) => {
          this.message = response.data.message;
          this.showMessage = true;
          this.initForm();
          this.goToHome();
        })
        .catch((error) => {
          this.showMessage = true;
          this.message = error.message;
        });
    },
    createImage(file) {
      const reader = new FileReader();
      reader.onload = (e) => {
        this.uploadedImage = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    initForm() {
      this.addRecipeForm.name = '';
      this.addRecipeForm.steps = '';
      this.addRecipeForm.time = null;
      this.addRecipeForm.difficulty = 3;
      this.ingredientList = [
        {
          ingredient_name: '',
          ingredient_quantity: '',
          ingredient_unity: '',
        },
      ];
      this.stepList = [
        {
          step_text: '',
        },
      ];
      this.showMessage = false;
      this.image = null;
      this.time.minutes = null;
      this.time.hours = null;
    },
    onSubmit(evt) {
      evt.preventDefault();
      if (this.image === 1) {
        // eslint-disable-next-line no-console
        console.log(this.url);
        this.uploadedImage = this.url;
      }
      const payload = {
        name: this.addRecipeForm.name,
        ingredients: this.ingredientList,
        steps: this.stepList,
        image: this.uploadedImage,
        user: this.user.displayName,
        user_id: this.user.uid,
        difficulty: this.addRecipeForm.difficulty,
        time: { hours: this.time.hours, minutes: this.time.minutes },
      };
      if (this.$route.params.recipeId) {
        payload.id = this.$route.params.recipeId;
      }
      if (this.image === 1) {
        payload.imageIsSet = true;
      }

      this.addRecipe(payload);
    },
    onReset(evt) {
      evt.preventDefault();
      this.initForm();
    },
    addIngredient() {
      this.ingredientList.push({
        ingredient_name: '',
        ingredient_quantity: '',
        ingredient_unity: '',
      });
    },
    addStep() {
      this.stepList.push({
        step_text: '',
      });
    },
    deleteIngredient(counter) {
      this.ingredientList.splice(counter, 1);
    },
    deleteStep(counter1) {
      this.stepList.splice(counter1, 1);
    },
    goToHome() {
      this.$router.push('/home');
    },
  },
  created() {
    this.user = 'lalala';
    this.initForm();
    if (this.$route.params.recipeId) {
      this.ingredientList = this.$route.params.recipe.ingredients;
      this.stepList = this.$route.params.recipe.steps;
      this.addRecipeForm.name = this.$route.params.recipe.name;
      this.image = 1; // Allow to have non null object to see the image in the image div
      this.url = this.$route.params.recipe.image;
      this.addRecipeForm.difficulty = this.$route.params.recipe.difficulty;
      this.time = this.$route.params.recipe.time;
    }
  },
};
</script>
