<template>
  <v-container>
    <v-card class="my-10">
      <v-row>
        <v-col cols="12" md="8">
          <v-img
            :src="recipe.image"
            height="400"
            class="white--text align-end image-backdrop">
            <v-card-title class = "card-block-title">{{ recipe.name }}</v-card-title>
          </v-img>
        </v-col>
        <v-col cols="12" md="4">
          <v-card
            class="ma-4"
            v-for="(ingredient, counter) in recipe.ingredients"
            :key="'ingredient'+counter">
            <v-card-text class="text--primary" v-if="ingredient.ingredient_unity==='unité'">
              {{ ingredient.ingredient_quantity }} {{ ingredient.ingredient_name }}
            </v-card-text>
            <v-card-text class="text--primary" v-else>
              {{ ingredient.ingredient_name }} : {{ ingredient.ingredient_quantity }}
              {{ ingredient.ingredient_unity }}
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12">
          <v-card
            class="ma-4"
            v-for="(step, counter) in recipe.steps"
            :key="'step'+counter">
            <v-card-title class="accent--text">Étape {{ counter+1 }}:</v-card-title>
            <v-card-text class="primary--text">
              {{ step.step_text }}
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>

<style>

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

#web-title {
  font-family: 'Amatic SC', cursive !important;
  font-size: 6rem !important;
  color: #FF7129 !important;
}

.card-block-title {
  display: block !important;
  background: rgba(47, 47, 43, 0.2);
  background-opacity: 0.3;
  font-family: 'Amatic SC';
  font-size: 3rem !important;
}
.image-backdrop > .v-responsive__content {
  backdrop-filter: blur(3px);
}

</style>

<script>
export default {
  data: () => ({
    recipe: '',
    id: '',
  }),

  methods: {
  },
  created() {
    this.id = this.$route.params.recipeId;
    this.recipe = this.$route.params.recipe;
  },
};
</script>
