<template>
  <v-row
    justify="center"
    class="ma-6">
    <v-col cols = "12">
      <alert :message='message' v-if='show'></alert>
      <alertError :message='message' v-if='showError'></alertError>
    </v-col>
    <v-col cols="10" md="6">
      <v-card>
        <v-card-title
          color="primary"
          dark>
          Nouveau Compte
        </v-card-title>
        <v-card-text>
          <v-form
            @submit.prevent='submit'
            ref = 'form'
            v-model = 'valid'
            lazy-validation>
            <v-col>
              <v-text-field
                outlined
                v-model = 'email'
                :rules='emailRules'
                label = 'E-mail'
                required>
              </v-text-field>
            </v-col>
          </v-form>
        </v-card-text>
        <v-card-actions class="justify-end">
          <v-btn
            type='submit'
            @click='submit'
            :disabled = '!valid'
            outlined
            color = accent
            text>Valider
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import axios from 'axios';
import Alert from './Alert.vue';
import AlertError from './AlertError.vue';

export default {
  name: 'Register',

  components: {
    alert: Alert,
    alertError: AlertError,
  },

  data: () => ({
    show: false,
    showError: false,
    message: '',
    email: '',
    valid: true,
    emailRules: [
      (v) => !!v || 'Une adresse E-mail est requise',
      (v) => /.+@.+\..+/.test(v) || 'l\'adresse doit être valide',
    ],
  }),

  methods: {
    submit() {
      const payload = {
        email: this.email,
      };
      this.$store.dispatch('register', payload)
        .then(() => this.$router.push('/'))
        // eslint-disable-next-line no-console
        .catch((err) => console.log(err));
    },
  },
  created() {
    this.show = false;
    this.showError = false;
  },
};
</script>
