<template>
  <div class='reset-password'>
    <v-row
      justify="center"
      class="ma-6">
      <v-col cols = "12">
        <alert :message='message' v-if='show'></alert>
        <alertError :message='message' v-if='showError'></alertError>
      </v-col>
      <v-col cols="10" md="6">
        <v-card>
          <v-card-title
            color="primary"
            dark>
            Entrez votre adresse mail,<br>
            Nous vous enverrons un lien de réinitialisation de mot de passe!
          </v-card-title>
          <v-card-text>
            <v-form
              @submit.prevent='submit'
              ref = 'form'
              v-model = 'valid'
              lazy-validation>
              <v-col>
                <v-text-field
                  outlined
                  v-model = 'email'
                  :rules='emailRules'
                  label = 'E-mail'
                  required>
                </v-text-field>
              </v-col>
            </v-form>
          </v-card-text>
          <v-card-actions class="justify-end">
            <v-btn
              type='submit'
              @click='submit'
              :disabled = '!valid'
              outlined
              color = accent
              text>Réinitialiser
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import Alert from './Alert.vue';
import AlertError from './AlertError.vue';

export default {
  name: 'ResetPassword',

  components: {
    alert: Alert,
    alertError: AlertError,
  },

  data: () => ({
    valid: false,
    email: '',
    message: '',
    show: false,
    showError: false,
    emailRules: [
      (v) => !!v || 'Une adresse E-mail est requise',
      (v) => /.+@.+\..+/.test(v) || 'l\'adresse doit être valide',
    ],
  }),

  methods: {
    submit() {
      console.log('submitted');
    },
  },
  created() {
    this.show = false;
    this.showError = false;
  },
};

</script>
