<template>
  <v-row
    justify="center"
    class="ma-6">
    <v-col cols="10" md="6">
      <v-card>
        <v-card-title
          color="primary"
          dark>
          Rentrez un nom d'utilisateur et un mot de passe
        </v-card-title>
        <v-card-text>
          <v-form
            @submit.prevent='submit'
            ref = 'passwordform'
            v-model = 'valid'
            lazy-validation>
            <v-col>
              <v-text-field
                outlined
                v-model = 'name'
                :counter = '20'
                :rules='nameRules'
                label = 'Nom'
                required>
              </v-text-field>
              <v-text-field
                outlined
                v-model = 'password'
                :append-icon = "show ? 'mdi-eye' : 'mdi-eye-off'"
                :rules = "[rules.min]"
                :type = "show ? 'text' : 'password'"
                hint="Au moins 8 caractères"
                label = 'Mot de Passe'
                counter
                @click:append="show = !show"
                required>
              </v-text-field>
            </v-col>
          </v-form>
        </v-card-text>
        <v-card-actions class="justify-end">
          <v-btn
            @click='submit'
            type='submit'
            :disabled = '!valid'
            outlined
            color = accent
            text>Valider
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import axios from 'axios';

export default {
  name: 'SetPassword',

  data: () => ({
    token: '',
    show: false,
    password: '',
    name: '',
    valid: true,
    nameRules: [
      (v) => !!v || 'Un nom d\'utilisateur est requis',
      (v) => (v && v.length <= 20) || 'Le nom ne peut pas dépasser 20 caractères',
    ],
    rules: {
      required: (value) => !!value || 'Requis.',
      min: (v) => v.length >= 8 || 'Minimum 8 caractères',
    },
  }),

  methods: {
    submit() {
      // eslint-disable-next-line no-console
      console.log(this.token);
      const payload = {
        token: this.token,
        name: this.name,
        password: this.password,
      };
      this.setPassword(payload);
    },
    setPassword(payload) {
      const path = '/api/auth/set-password';
      axios.post(path, payload, { 'Content-Type': 'application/json' })
        .then((response) => {
          this.message = response.data.message;
          // eslint-disable-next-line
          console.log(this.message);
        });
    },
    goToHome() {
      this.$router.replace({ name: 'Home' });
    },
  },

  created() {
    // eslint-disable-next-line no-console
    console.log(this.$route.query);
    if (this.$route.query.token) {
      this.token = this.$route.query.token;
      // eslint-disable-next-line no-console
      console.log(this.token);
    }
  },
};
</script>
