<template>
  <div id="app">
    <v-app>

      <v-app-bar
        app
        color="primary"
        dark>
        <v-app-bar-nav-icon class="d-md-none" @click="trigger"></v-app-bar-nav-icon>

        <div class="d-flex align-center">
          <v-hover
            v-slot="{ hover }"
            :style = "{cursor: 'pointer'}">
            <v-img
              alt="Vuetify Logo"
              class="shrink mr-2 logo transition-fast-in-fast-out"
              contain
              src="./assets/logo_simple_white.png"
              :width="hover ? 62 : 60"
              @click = "goToHome"
            />
          </v-hover>

          <h4 class="v-btn">FAMILY RECIPES</h4>
        </div>

        <v-spacer></v-spacer>

        <v-btn
          v-if="user"
          class="d-none d-md-block mr-4"
          color="primary"
          @click="goToFamily"
        >Famille<v-icon right>mdi-account-group</v-icon></v-btn>

        <v-btn
          v-if="user"
          class="d-none d-md-block mr-4"
          color="primary"
        >{{ user.displayName }}<v-icon right>mdi-account</v-icon></v-btn>

        <v-btn
          v-if="user"
          class="d-none d-md-block"
          color="primary"
          @click="logout"
        >Déconnexion<v-icon right>mdi-logout</v-icon></v-btn>

        <v-btn
          v-if="!user"
          class="d-none d-md-block mr-4"
          color="primary"
          @click="goToRegister"
        >Créer un compte<v-icon right>mdi-account-plus</v-icon></v-btn>

        <v-btn
          v-if="!user"
          class="d-none d-md-block"
          color="primary"
          @click="goToLogin"
        >Connexion<v-icon right>mdi-login</v-icon></v-btn>
      </v-app-bar>
      <v-navigation-drawer permanent height="inherit" width="100%" class="d-md-none mt-15">
        <v-list
          dense
          nav
          v-if="drawer">

          <v-list-item
            link
            class='v-btn'
            @click='goToLogin'
            v-if="!user">
            <v-list-item-icon>
              <v-icon>mdi-login</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>Connexion</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item
            link
            class='v-btn'
            @click='goToRegister'
            v-if="!user">
            <v-list-item-icon>
              <v-icon>mdi-account-plus</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>Créer un compte</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item
            link
            class='v-btn'
            v-if="user">
            <v-list-item-icon>
              <v-icon>mdi-account</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>{{ user.displayName }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item
            link
            class='v-btn'
            @click='goToFamily'
            v-if="user">
            <v-list-item-icon>
              <v-icon>mdi-account-group</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>Famille</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item
            link
            class='v-btn'
            @click='logout'
            v-if="user">
            <v-list-item-icon>
              <v-icon>mdi-logout</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>Déconnexion</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
        <v-divider></v-divider>
      </v-navigation-drawer>
      <v-main>
        <router-view></router-view>
        <NotificationsManager></NotificationsManager>
      </v-main>
    </v-app>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import NotificationsManager from './components/NotificationsManager.vue';
import { readIsLoggedIn } from './store/main/getters';
import { dispatchCheckLoggedIn } from './store/main/actions';
import router from './router';

@Component({
  components: {
    NotificationsManager,
  },
})
export default class App extends Vue {
  public user = false;
  public drawer = false;

  public trigger() {
    this.drawer = !this.drawer;
  }

  public goToHome() {
    if (this.$route.fullPath !== '/home' && this.$route.fullPath !== '/') {
      this.$router.replace({ name: 'Home' });
    }
  }

  get loggedIn() {
    return readIsLoggedIn(this.$store);
  }

  public async created() {
    await dispatchCheckLoggedIn(this.$store);
  }

  public goToFamily() {
    if (this.$route.fullPath !== '/family') {
      this.$router.replace({ name: 'Family' });
    }
  }

  public goToRegister() {
    if (this.$route.fullPath !== 'register') {
      this.$router.replace({ name: 'Register' });
    }
  }

  public goToLogin() {
    if (this.$route.fullPath !== 'login') {
      this.$router.replace({ name: 'Login' });
    }
  }

  public logout() {
    console.log('logout');
  }
}
</script>