<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
        <v-img
          src="@/assets/logo_simple.png"
          class="my-3"
          contain
          height="200"
        />
      </v-col>

      <v-col class="mb-4" cols="12">
        <p id="web-title-responsive">
          FAMILY RECIPES
        </p>
        <v-btn
          v-if="user"
          @click="goToAddRecipe()"
          color="accent">
          <v-icon left>mdi-plus</v-icon>
          Nouvelle Recette
        </v-btn>
      </v-col>
      <v-col
        cols="12" sm="6" md="4" lg="3"
        class="d-flex justify-center align-content-flex-around flex-wrap"
        primary--text flat tile
        v-for="(recipe, counter) in recipeList"
        :key="counter">

        <v-card
          width="100%"
          class="mx-auto my-12 text-left">
          <v-hover
          :style="{cursor: 'pointer'}">
            <v-img
            @click="goToDetail(recipesId[counter], recipe)"
            height="250"
            class="transition-fast-in-fast-out white--text align-end image-backdrop"
            :src="recipe.image">
              <v-card-title
                class = "card-block-title"
                width="100%">{{ recipe.name }}
              </v-card-title>
            </v-img>
          </v-hover>

          <v-card-subtitle class="pb-0">
            Recette de {{ recipe.user }}
          </v-card-subtitle>

          <v-card-text class="headline">
            <div class="d-flex align-center">Difficultée:<v-spacer></v-spacer>
              <v-rating
                readonly
                v-model="recipe.difficulty"
                color='accent'
                :empty-icon=null>
              </v-rating>
            </div>
            <div class="d-flex"><p>Durée:</p><v-spacer></v-spacer>
              <p v-if="recipe.time.hours === 0">{{ recipe.time.minutes }} MIN</p>
              <p v-else-if="recipe.time.minutes === 0">{{ recipe.time.hours }} H</p>
              <p v-else>{{ recipe.time.hours }}h {{ recipe.time.hours }}min</p>
            </div>
          </v-card-text>

          <v-card-actions>
            <v-btn
              outlined
              class="text-right"
              color="accent"
              @click="goToModify(recipesId[counter], recipe)"
              v-if="recipe.userID===uid">Modifier<v-icon right>mdi-pencil</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn
              outlined
              class="text-right"
              color="error"
              @click="deleteRecipe(recipesId[counter])"
              v-if="recipe.userID===uid">Supprimer<v-icon right>mdi-delete</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<style>

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.card-block-title {
  display: block !important;
  background: rgba(47, 47, 43, 0.2);
  background-opacity: 0.3;
  font-family: 'Amatic SC', cursive;
  font-size: 2rem !important;
}

.image-backdrop > .v-responsive__content {
  backdrop-filter: blur(3px);
}

#web-title-responsive {
  font-family: 'Amatic SC', cursive;
  color: #FF7129;
  font-size: 6rem;
}

@media screen and (max-width: 960px) {
  #web-title-responsive {
    font-size: 4rem;
  }
}

</style>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import axios from 'axios';

@Component
export default class Home extends Vue {
  public uid = '';
  public show = false;
  public message = '';
  public user = null;
  public recipeList = '';
  public recipesId = '';
  public menuVisible = false;

  public getRecipes() {
    const path = '/api/home';
    axios.get(path)
      .then((res) => {
        this.recipeList = res.data.recipes;
        this.recipesId = res.data.recipesId;
      })
      .catch((error) => {
        console.log(error);
      });
  }

  public goToModify(recipeId: string, recipe: string) {
    this.$router.push({ name: 'recipeform', params: { recipe, recipeId } });
  }

  public goToAddRecipe() {
    this.$router.push('/form');
  }

  public goToDetail(recipeId: string, recipe: string) {
    this.$router.replace({ name: 'RecipeDisplay', params: { recipe, recipeId } });
  }
}
</script>
