<template>
  <div class="login">
    <v-row
      justify="center"
      class="ma-6">
      <v-col cols="10" md="6">
        <v-card>
          <v-card-title
            color="primary"
            dark>
            Connectez Vous
          </v-card-title>
          <v-card-text>
            <v-form
              @keyup.enter='submit'
              ref = 'singInForm'
              v-model = 'valid'
              lazy-validation>
              <v-col>
                <v-text-field
                  @keyup.enter='submit'
                  outlined
                  v-model = 'email'
                  :rules='emailRules'
                  label = 'E-mail'
                  required>
                </v-text-field>
                <v-text-field
                  @keyup.enter='submit'
                  outlined
                  v-model = 'password'
                  :append-icon = "show ? 'mdi-eye' : 'mdi-eye-off'"
                  :rules = "[rules.min]"
                  :type = "show ? 'text' : 'password'"
                  hint="Au moins 8 caractères"
                  label = 'Mot de Passe'
                  counter
                  @click:append="show = !show"
                  required>
                </v-text-field>
              </v-col>
            </v-form>
            <div v-if="loginError">
              <v-alert :value="loginError" transition="fade-transition" type="error">
                Incorrect email or password
              </v-alert>
            </div>
            <span>Pas de compte ? Créez un compte en cliquant sur
              <router-link :to="{name: 'Register'}">ce lien</router-link>
               !</span><br>
            <span>Mot de passe oublié ? Cliquez sur
              <router-link :to="{name: 'PasswordRecovery'}">ce lien</router-link>
               !</span>
          </v-card-text>
          <v-card-actions class="justify-end">
            <v-btn
              type='submit'
              @click.prevent='submit'
              :disabled = '!valid'
              outlined
              color = accent
              text>Valider
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import api from '../api';
import { appName } from '../env';
import { readLoginError } from '../store/main/getters';
import { dispatchLogIn } from '../store/main/actions';

@Component
export default class Login extends Vue {
  public email = '';

  public password = '';

  public appName = appName;

  public valid = true;

  public show = false;

  public message = '';

  public emailRules = [
    (v: any) => !!v || 'Une adresse E-mail est requise',
    (v: any) => /.+@.+\..+/.test(v) || 'l\'adresse doit être valide',
  ];

  public rules = {
    required: (value: any) => !!value || 'Requis.',
    min: (v: any) => v.length >= 8 || 'Minimum 8 caractères',
  };

  public get loginError() {
    return readLoginError(this.$store);
  }

  public submit() {
    dispatchLogIn(this.$store, { username: this.email, password: this.password });
  }
}
</script>
