<template>
  <div class='reset-password'>
    <v-row
      justify="center"
      class="ma-6">
      <v-col cols = "12">
      </v-col>
      <v-col cols="10" md="6">
        <v-card>
          <v-card-title
            color="primary"
            dark>
            Entrez votre adresse mail,<br>
            Nous vous enverrons un lien de réinitialisation de mot de passe!
          </v-card-title>
          <v-card-text>
            <v-form
              @keyup.enter = 'submit'
              @submit.prevent='submit'
              ref = 'form'
              v-model = 'valid'
              lazy-validation>
              <v-col>
                <v-text-field
                  @keyup.enter = 'submit'
                  outlined
                  v-model = 'email'
                  :rules='emailRules'
                  label = 'E-mail'
                  required>
                </v-text-field>
              </v-col>
            </v-form>
          </v-card-text>
          <v-card-actions class="justify-end">
            <v-btn
              type='submit'
              @click.prevent='submit'
              :disabled = '!valid'
              outlined
              color = accent
              text>Réinitialiser
            </v-btn>
            <v-btn
              type='submit'
              @click.prevent='cancel'
              outlined
              color = accent
              text>Annuler
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { appName } from '../env';
import { dispatchPasswordRecovery } from '../store/main/actions';

@Component
export default class Login extends Vue {
  public valid = true;
  public email: string = '';
  public appName = appName;

  public emailRules = [
    (v: any) => !!v || 'Une adresse E-mail est requise',
    (v: any) => /.+@.+\..+/.test(v) || 'l\'adresse doit être valide',
  ];

  public cancel() {
    this.$router.back();
  }

  public submit() {
    dispatchPasswordRecovery(this.$store, { username: this.email });
  }
}
</script>