<template>
  <v-row
    justify="center"
    class="ma-6">
    <v-col cols="10" md="6">
      <v-card>
        <v-card-title
          color="primary"
          dark>
          Nouveau Compte
        </v-card-title>
        <v-card-text>
          <v-form
            @submit.prevent='submit'
            ref = 'form'
            v-model = 'valid'
            lazy-validation>
            <v-col>
              <v-text-field
                outlined
                v-model = 'email'
                :rules='emailRules'
                label = 'E-mail'
                required>
              </v-text-field>
            </v-col>
          </v-form>
        </v-card-text>
        <v-card-actions class="justify-end">
          <v-btn
            type='submit'
            @click='submit'
            :disabled = '!valid'
            outlined
            color = accent
            text>Valider
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script lang='ts'>
import { Component, Vue } from 'vue-property-decorator';
import {
  IUserProfileCreate,
} from '../interfaces';
import { dispatchCreateUser } from '../store/main/actions';

@Component
export default class CreateUser extends Vue {
  public valid = false;

  public email = '';

  public isActive = true;

  public setPassword = false;

  public password = '';

  public emailRules = [
    (v: any) => !!v || 'Une adresse E-mail est requise',
    (v: any) => /.+@.+\..+/.test(v) || 'l\'adresse doit être valide',
  ];

  public async submit() {
    const updatedProfile: IUserProfileCreate = {
      email: this.email,
    };
    if (this.email) {
      updatedProfile.email = this.email;
    }
    updatedProfile.is_active = this.isActive;
    updatedProfile.password = this.password;
    await dispatchCreateUser(this.$store, updatedProfile);
    this.$router.push('/');
  }
}
</script>
