<template>
  <div class='reset-password'>
    <v-row
      justify="center"
      class="ma-6">
      <v-col cols = "12">
      </v-col>
      <v-col cols="10" md="6">
        <v-card>
          <v-card-title
            color="primary"
            dark>
            Veuillez rentrer votre nouveau mot de passe : <br>
          </v-card-title>
          <v-card-text>
            <v-form
              @keyup.enter = 'submit'
              @submit.prevent='submit'
              ref = 'form'
              v-model = 'valid'
              lazy-validation>
              <v-col>
                <v-text-field
                  @keyup.enter='submit'
                  outlined
                  v-model = 'password1'
                  :append-icon = "show1 ? 'mdi-eye' : 'mdi-eye-off'"
                  :rules = "[rules.min]"
                  :type = "show1 ? 'text' : 'password'"
                  hint="Au moins 8 caractères"
                  label = 'Nouveau Mot de Passe'
                  counter
                  @click:append="show_1 = !show_1"
                  required>
                </v-text-field>
                <v-text-field
                  @keyup.enter='submit'
                  outlined
                  v-model = 'password2'
                  :append-icon = "show2 ? 'mdi-eye' : 'mdi-eye-off'"
                  :rules = "[rules.min]"
                  :type = "show2 ? 'text' : 'password'"
                  hint="Au moins 8 caractères"
                  label = 'Confirmer le Mot de Passe'
                  counter
                  @click:append="show_2 = !show_2"
                  required>
                </v-text-field>
              </v-col>
            </v-form>
          </v-card-text>
          <v-card-actions class="justify-end">
            <v-btn
              type='submit'
              @click.prevent='submit'
              :disabled = '!valid'
              outlined
              color = accent
              text>Réinitialiser
            </v-btn>
            <v-btn
              type='submit'
              @click.prevent='cancel'
              outlined
              color = accent
              text>Annuler
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { commitAddNotification } from '../store/main/mutations';
import { dispatchResetPassword } from '../store/main/actions';

@Component
export default class UserProfileEdit extends Vue {
  public show1 = false;
  public show2 = false;
  public valid = true;
  public password1 = '';
  public password2 = '';

  public rules = {
    required: (value: any) => !!value || 'Requis.',
    min: (v: any) => v.length >= 8 || 'Minimum 8 caractères',
  };

  public mounted() {
    this.checkToken();
  }

  public reset() {
    this.password1 = '';
    this.password2 = '';
  }

  public cancel() {
    this.$router.push('/');
  }

  public checkToken() {
    const token = (this.$router.currentRoute.query.token as string);
    if (!token) {
      commitAddNotification(this.$store, {
        content: 'No token provided in the URL, start a new password recovery',
        color: 'error',
      });
      this.$router.push('/recover-password');
    } else {
      return token;
    }
  }

  public async submit() {
    const token = this.checkToken();
    if (token) {
      await dispatchResetPassword(this.$store, { token, password: this.password1 });
      this.$router.push('/');
    }
  }
}
</script>